---
/**
 * * About section
 */

import profileImage from "@assets/images/michela.jpg";
import { Image } from "astro:assets";
---

<section id="about" class="site-container scroll-mt-10 py-8 md:py-12">
	<div class="flex flex-col md:flex-row">
		<div class="md:w-2/3">
			<h2 class="h3 text-primary-500 text-pretty uppercase">Conosci il tuo host</h2>
			<h3 class="h2 mt-4">Michela</h3>
			<div class="bg-base-100 mt-8 p-8 md:mb-20 lg:text-lg">
				<p>
        Dopo molti viaggi e anni a girovagare sono approdata in questa casa, un luogo di quiete tra le splendide vette Apuane e il Mar Tirreno, con l'isola del Tino e il suo faro a tenermi compagnia ogni notte. 
        </br>
        </br>
        Lavoro nel settore del biologico da molti anni e sono una cuoca vegana, Se vorrete potrò organizzare per voi micro corsi di cucina o una semplice cena da gustare in giardino.
        </br>
        </br>
        Io abito nella casa sottostante con mio figlio Levante e due cani, Zoe e Leon. 
				</p>
				<div class="flex w-3/4 justify-end">
					<p class="font-heading-1 text-3xl italic">- Michela</p>
				</div>
			</div>
		</div>
	</div>
</section>
